.navigation-bar {
    background-color: #e5e5e5;
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: space-between;

    &-container-left,
    &-container-right {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        gap: 5px;
    }
}
