<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles.css" />
    <link rel="stylesheet" href="topbar.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
    />
    <script
      src="https://unpkg.com/twemoji@latest/dist/twemoji.min.js"
      crossorigin="anonymous"
    ></script>
    <title id="titlePage"></title>
  </head>
  <body>
    <div class="top-bar">
      <span class="language-span"
        ><i class="fas fa-language"></i>
        <select class="language-selector" id="language-selector"></select>
      </span>
      <span class="theme-span"
        ><i class="fas fa-sun"></i>
        <label class="switch">
          <input type="checkbox" id="switch-theme" />
          <span class="slider round"></span>
        </label>
        <i class="fas fa-moon"></i>
      </span>
    </div>
    <span id="test"></span>
    <div class="container">
      <div class="space-between" id="buttonsaddtime">
        <button id="addtime-5h" class="addtime-button">+5h</button>
        <button id="addtime-1h" class="addtime-button">+1h</button>
        <button id="addtime-5m" class="addtime-button">+5m</button>
        <button id="addtime-1m" class="addtime-button">+1m</button>
        <button id="addtime-5s" class="addtime-button">+5s</button>
        <button id="addtime-1s" class="addtime-button">+1s</button>
      </div>
      <div class="space-between">
        <input type="datetime-local" id="timeData" />
      </div>
      <div class="space-between">
        <select id="timezone"></select>
      </div>
      <div class="space-between" id="buttonssubtime">
        <button id="subtime-5h" class="subtime-button">-5h</button>
        <button id="subtime-1h" class="subtime-button">-1h</button>
        <button id="subtime-5m" class="subtime-button">-5m</button>
        <button id="subtime-1m" class="subtime-button">-1m</button>
        <button id="subtime-5s" class="subtime-button">-5s</button>
        <button id="subtime-1s" class="subtime-button">-1s</button>
      </div>
      <br />
      <div class="text-input-container">
        <div id="text-endmsg" class="paragraph" contenteditable="true"></div>
      </div>
      <br />
      <div>
        <select id="formatSelector"></select>
      </div>
      <br />
      <div>
        <select id="fontSelect">
          <!-- Opciones de fuentes -->
        </select>
        <input type="number" id="fontSize" min="1" max="9999" />
      </div>
      <div class="space-between">
        <span id="textFormatBlock">
          <button id="boldButton"><i class="fas fa-bold"></i></button>
          <button id="italicButton"><i class="fas fa-italic"></i></button>
          <button id="underlineButton"><i class="fas fa-underline"></i></button>
        </span>
        <span id="alingblock">
          <button id="alignLeft"><i class="fas fa-align-left"></i></button>
          <button id="alignCenter"><i class="fas fa-align-center"></i></button>
          <button id="alignRight"><i class="fas fa-align-right"></i></button>
        </span>
      </div>
      <div class="space-between">
        <span id="colorblock">
          <input type="color" id="colorPicker" />
          <input type="text" id="colorHex" />
        </span>
      </div>
    </div>
    <script src="control.js"></script>
  </body>
</html>
