<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles.css" />
    <script crossorigin="anonymous"></script>
    <title id="titlePage"></title>
    <link
      rel="icon"
      href="https://cdn4.iconfinder.com/data/icons/internet-security-flat-2/32/Internet_Security_business_focus_eye_view_vision-512.png"
      type="image/png"
    />
  </head>
  <body>
    <span id="test"></span>
    <div class="container">
      <div class="timer">
        <span id="time"></span>
      </div>
    </div>
    <script src="client.js"></script>
  </body>
</html>
