.fa {
    line-height: normal;
}

html {
    font-size: 18px;
}

body {
    font-family: var(--font-family);
    font-weight: normal;
    background: var(--surface-ground);
    color: var(--text-color);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    padding: 0;
}

.card {
    background: var(--surface-card);
    padding: 2rem;
    border-radius: 10px;
    margin-bottom: 1rem;
}

.p-component {
    height: 35px;
}

.p-inputtext {
    display: flex;
    align-items: center;
}

.p-button {
    padding: 5px;
}

.p-button:enabled:focus {
    box-shadow: none;
}

.p-button:not(:disabled):active {
    background: auto;
    color: auto;
    border-color: auto;
}

.p-button-icon-only {
    width: 35px !important;
    & > span {
        font-size: 18px;
    }
}

.p-dropdown-header {
    border: 1px solid #bbb; /* Bordes grises */
    border-bottom-color: #ddd; /* Sin borde inferior */
    padding: 10px; /* Ajustar el relleno según sea necesario */
    box-sizing: border-box; /* Asegurarse de que el relleno y el borde estén incluidos en el tamaño total del elemento */
}

.p-dropdown-items-wrapper {
    border: 1px solid #bbb; /* Bordes grises */
    border-top: none; /* Sin borde superior */
    max-height: 200px; /* Ajustar el máximo alto según sea necesario */
    box-sizing: border-box; /* Asegurarse de que el relleno y el borde estén incluidos en el tamaño total del elemento */
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.p-dropdown:not(.p-disable).p-focus {
    box-shadow: none;
    border-color: auto;
}

img.emoji {
    height: 1em;
    width: 1em;
    margin: 0 0.05em 0 0.1em;
    vertical-align: -0.15em;
}
